<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/public/main.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="container">
      <%- include('./components/header.ejs') %>
      <div class="content-wrap">
        <div class="profile">
          <img src="<%- ProfilePicture %>" alt="PP" style="width: 40%" />
          <h1><%- Firstname %> <%- Lastname %></h1>
          <h2><%- Username %></h2>
          <h2><%- Password %></h2>
          <h3><%- Email %></h3>
          <h3><%- Mobile %></h3>
          <h3><%- new Date(BirthDate).toLocaleDateString('en-CA') %></h3>
        </div>
      </div>
    </div>
  </body>
</html>
