<% for (const book of allBooks){ %>
<div class="card">
  <img src="<%- BookPicture %>" alt="PP" style="width: 80%" />
  <h1><%- AuthorFirstName %> <%- AuthorLastName %></h1>
  <h2><%- Title %></h2>
  <h3><%- Language %></h3>
  <h3><%- new Date(ReleaseDate).toLocaleDateString('en-CA') %></h3>
</div>
<% } %>
